@model IndexModel

@{
    ViewData["Title"] = "Home Page";
    var products = Model.Products;
}

<div class="text-center">
    <table id="productList">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>

        @for (var i = 0; i < products.Count; i++)
        {
            <tr id="product_id_@products[i].Id">
                <td> <div id="id_text_id_@products[i].Id">@products[i].Id</div> </td>
                
                <td> <div id="name_text_id_@products[i].Id">@products[i].Name</div> </td>
                
                <td> <div id="description_text_id_@products[i].Id">@products[i].Description</div> </td>
                
                <td> <div id="cost_text_id_@products[i].Id">@products[i].Cost</div> </td>
                
                <td> <div id="amount_text_id_@products[i].Id">@products[i].Amount</div> </td>
                
                <td>
                    <div class="buttons-container">
                        <button onclick="OnEditClick(@products[i].Id)" id="editButton_id_@products[i].Id" >📝</button>
                        <button onclick="onEditSaveClick(@products[i].Id)" id="yesButton_id_@products[i].Id" style="display: none;">✅</button>
                        <button onclick="onEditCancelClick(@products[i].Id)" id="noButton_id_@products[i].Id" style="display: none;" >❌</button>
                    </div>

                    <div class="buttons-container">
                        <button onclick="onDeleteClick(@products[i].Id)" id="deleteButton_id_@products[i].Id">⌫</button> 
                        <button onclick="onGetProductClick(@products[i].Id)" id="getButton_id_@products[i].Id">👁</button>
                    </div>
                </td>
            </tr>
        }
    </table>

    <div class="cube">
        <button class="button" id="createButton_id" onclick="onCreateClick()">➕</button>
    </div>
    
</div>



