@model IndexModel

@{
    ViewData["Title"] = "Home Page";
    var products = Model.Products;
    
    var isUpdate = false;
    ProductModel? productToUpdate = null;

    if (TempData["productToUpdate"] != null)
    {
        productToUpdate = System.Text.Json.JsonSerializer.
            Deserialize<ProductModel>(TempData["productToUpdate"]?.
                ToString()!);
        isUpdate = true;
    }
}

<div class="text-center">
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>

        @for (var i = 0; i < products!.Count; i++)
        {
            <tr>
                <td>@products[i].Id</td>
                
                <td>
                    <div id="name_text_id_@products[i].Id">
                        @products[i].Name
                    </div>
                </td>
                
                
                <td>
                    <div id="description_text_id_@products[i].Id">
                        @products[i].Description
                    </div>
                </td>
                
                
                <td>
                    <div id="cost_text_id_@products[i].Id">
                        @products[i].Cost
                    </div>
                </td>
                
                <td>
                    <div id="amount_text_id_@products[i].Id">
                        @products[i].Amount
                    </div>
                </td>
                
                <td>
                    <button onclick="OnEditClick(@products[i].Id)" id="editButton_id_@products[i].Id" > edit </button>
                    <button onclick="onEditSaveClick(@products[i].Id)" id="yesButton_id_@products[i].Id" style="display: none;"> yes </button>
                    <button onclick="onEditCancelClick(@products[i].Id)" id="noButton_id_@products[i].Id" style="display: none;" > no </button>

                    <button onclick="onRefreshClick(@products[i].Id)" >🗘</button>
                            
                            
                    <form action="@Url.Action("BeginUpdate", "Home")" method="get">
                        <input type="hidden" name="id" value="@products[i].Id">
                        <input type="submit" value="✎"/>
                    </form>
                    
                    <form action="@Url.Action("DeleteProduct", "Home")" method="post">
                        <input type="hidden" name="id" value="@products[i].Id">
                        <input type="submit" value="⌫"/>
                    </form>
                </td>
            </tr>
        }
    </table>
    
    <h3>Product</h3>
    <form action="@(isUpdate ? Url.Action("UpdateProduct") : Url.Action("CreateProduct"))" method="Post">
        ID: <br/>
        <input type="number" name="id" value="@(isUpdate ? productToUpdate?.Id : "")" readonly/> <br/>
        Имя: <br/>
        <input type="text" name="name" value="@(isUpdate ? productToUpdate?.Name : "")"/> <br/>
        Описание: <br/>
        <input type="text" name="description" value="@(isUpdate ? productToUpdate?.Description : "")"/> <br/>
        Стоимость: <br/>
        <input type="number" name="cost" value="@(isUpdate ? productToUpdate?.Cost : "")"/> <br/>
        Количество: <br/>
        <input type="number" name="amount" value="@(isUpdate ? productToUpdate?.Amount : "")"/> <br/>
        
        <input type="submit" value="@(isUpdate ? "Update" : "Send")"/>
    </form>
</div>



